@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Mona Sans";
  src:
    url("./assets/fonts/MonaSans-Light.woff2") format("woff2"),
    url("./assets/fonts/MonaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src:
    url("./assets/fonts/MonaSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/MonaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src:
    url("./assets/fonts/MonaSans-Medium.woff2") format("woff2"),
    url("./assets/fonts/MonaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src:
    url("./assets/fonts/MonaSans-Bold.woff2") format("woff2"),
    url("./assets/fonts/MonaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Cyr";
  src:
    url("./assets/fonts/DrukCyr-Bold.woff2") format("woff2"),
    url("./assets/fonts/DrukCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Cyr";
  src:
    url("./assets/fonts/DrukCyr-Heavy.woff2") format("woff2"),
    url("./assets/fonts/DrukCyr-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Themes */

html[data-theme="light"] {
  --accent-color: #78d32e;
  --gray-color: #96ba74c7;
  --hover-color: #51b201;
  --text-color: #2e2e36;
  --second-text-color: #c5e1a6;
  --border-color: #acb1a9;
  --bg-first-color: #fbfbfb;
  --bg-second-color: #b2ef8079;
  --bg-body-color: #fbfbfb;
  --shadow-color: #535b50;
  --shadow-color-light: #0000000d;
}

html[data-theme="dark"] {
  --accent-color: #72b63b;
  --gray-color: #516381;
  --hover-color: #5ba221;
  --text-color: #fafafa;
  --second-text-color: #516381b2;
  --border-color: #595d5d;
  --bg-first-color: #3f4c61;
  --bg-second-color: #0b131b9c;
  --bg-body-color: #1f2836;
  --shadow-color: #eff1ef;
  --shadow-color-light: #ffffff0d;
}

/* --------------- */
@layer base {
  * {
    @apply outline-none;
  }
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  @apply custom-transition bg-bgBodyColor;
  /* bg-gradient-to-r from-bgFirstColor to-bgSecondColor; */

  font-family: "Mona Sans", sans-serif;
  font-weight: 500;
}

#root {
  @apply flex min-h-screen flex-col;
}

main {
  @apply grow-[1];
}

a {
  @apply inline-block text-current no-underline transition duration-300 ease-in-out;
}

address {
  @apply not-italic;
}

a:hover,
a:focus-visible {
  @apply text-accentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply m-0;
}

ul,
ol {
  @apply m-0 list-none p-0;
}

img {
  @apply block h-auto max-w-full object-cover;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fbfbfb inset;
  box-shadow: 0 0 0px 1000px #fbfbfb inset;
  -webkit-text-fill-color: #2e2e36 !important;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fbfbfb inset;
  box-shadow: 0 0 0px 1000px #fbfbfb inset;
  -webkit-text-fill-color: #2e2e36 !important;
}

.title {
  @apply custom-transition relative mx-auto w-fit py-14 text-center font-fontSecondary text-[32px] uppercase text-textColor md:py-20 md:text-[56px];
}

.title::before {
  content: attr(data-content);
  @apply custom-transition absolute left-1/2 top-1/2 z-[-1] -translate-x-1/2 -translate-y-1/2 text-center font-fontPrimary text-[46px] font-bold uppercase md:text-[90px];
  background: linear-gradient(
    90deg,
    var(--hover-color),
    var(--border-color),
    var(--second-text-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover {
  &:hover,
  &:focus-visible {
    @apply bg-hoverColor shadow-md;
  }
}

.contact-item {
  @apply flex items-center gap-3;
}

.contact-icon {
  @apply custom-transition size-6 fill-accentColor md:size-[36px];
}

.address-label {
  @apply custom-transition font-fontSecondary text-[18px] font-bold uppercase leading-[0.99] text-grayColor md:text-[20px];
}

.address-text {
  @apply custom-transition text-[14px] font-medium leading-[1.44] tracking-[-0.03em] text-textColor md:text-[15px] lg:text-[16px];
}

.label {
  @apply custom-transition absolute -top-[17px] left-6 transform bg-bgBodyColor text-[11px] uppercase text-borderColor peer-placeholder-shown:top-[13px] peer-placeholder-shown:text-borderColor peer-focus:-top-2 peer-focus:text-[10px] peer-focus:text-hoverColor md:-top-5 md:text-[13px] md:peer-placeholder-shown:top-[15px] md:peer-focus:text-[12px] lg:-top-[23px] lg:text-[15px] lg:peer-placeholder-shown:top-4;
}

.error {
  @apply absolute -bottom-[12px] left-5 text-[8px] text-red-700 md:-bottom-[18px] md:text-[12px];
}

.scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: auto !important;
  --sb-track-color: transparent;
  --sb-thumb-color: #72b63bd1;
  --sb-size: 6px;
  --sb-margin: 20px;
}

.scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 12px;
  margin-top: var(--sb-margin);
  margin-bottom: var(--sb-margin);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 12px;
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.button {
  @apply address-label custom-transition relative flex h-[42px] w-[170px] items-center justify-between overflow-hidden rounded-full border-[1.3px] border-accentColor bg-transparent py-[14px] pl-6 text-start !text-textColor before:absolute before:inset-0 before:origin-right before:scale-x-0 before:bg-hoverColor before:transition-transform before:duration-500 hover:border-hoverColor hover:before:z-[-1] hover:before:scale-x-100 focus-visible:border-hoverColor md:h-[52px] md:w-[200px];
}

.button-span {
  @apply custom-transition relative h-[42px] w-[42px] overflow-hidden rounded-full bg-accentColor shadow-sm group-hover:bg-hoverColor group-hover:shadow-md group-focus-visible:bg-hoverColor group-focus-visible:shadow-md md:h-[52px] md:w-[52px];
}

.subtitle {
  @apply custom-transition mb-10 text-center font-fontSecondary text-[28px] uppercase leading-[1.1] text-textColor md:text-[40px] lg:text-[54px];
}
